#leaderboard_section {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-top: 40px;
}

/* #leaderboard_list {
  border: 3px solid white;
} */

.refresh-button {
  color: white;
  background-color: #fa6855;
  border: none;
  font-size: medium;
  padding: 5px;
  margin: 20px auto 50px auto;
  width: 200px;
  border-radius: 10px;
  border: 1px solid transparent;
}

.refresh-button:hover {
  background-color: white;
  border: 1px solid #3a404d;
  color: #3a404d;
}
